/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	}

.header{
	background-color: #011e29;
	color:white;
	text-align:center;
	padding:20px
	
}
.container{
	display:flex;
	justify-content:center;
	gap:20px;
	padding:20px;
}

.latest-news-section, .main-artical, .pictorial-news-section{
	background-color:white;
	
	border-radius:10px;
	
}
.latest-news-section{
	width:300px;
	padding:10px;
	
}
.main-artical{
	width:500px;
	padding:20px;
	text-align:center;
}
.pictorial-news-section{
	width:400px;
	
	text-align:center;
}
.pictorial-news-section img{
	width:100px;
	
}